:root {
  --main-color: #109999;
}

* {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto !important;
}

section:not(.hero, .about-hero) {
  margin: 70px 0;
}
#root {
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  text-wrap: balance;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.offscreen {
  display: none !important;
}
.instructions {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  word-wrap: break-word;
}

.sign-page {
  min-height: 100vh;

  & .form {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    & label:not(:first-of-type) {
      margin-top: 1rem;
    }
    & input {
      display: block;
      width: 300px;
      border: 1px solid #ddd;
      outline: none;
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      transition: 0.3s;
      margin-top: 10px;

      &[type="submit"] {
        background-color: var(--main-color);
        color: #fff;
      }

      &:hover:not(&[type="submit"]),
      &:focus:not(&[type="submit"]) {
        box-shadow: inset 0px 0px 5px #1c7ac5;
      }
    }
    & a {
      transition: 0.3s;
      &:hover {
        color: var(--main-color);
        text-decoration: underline !important;
      }
    }
  }
}
