:root {
  --main-color: #109999;
}

* {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto !important;
}

section:not(.hero, .about-hero) {
  margin: 70px 0;
}
#root {
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.offscreen {
  display: none !important;
}
.instructions {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  word-wrap: break-word;
}
