:root {
  --main-color: #109999;
}

* {
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto !important;
}

section:not(.hero) {
  margin: 70px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}
