.contact {
  & .contact-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }

  & .contact-page-form {
    & .person img {
      object-fit: contain;
    }
    & form input,
    & form textarea {
      border: 1px solid #999;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      color: #000;
      outline: none;
      width: 90%;
    }
  }
}
