.navbar {
  background-color: #e3e6f3;
  & a.nav-link {
    font-weight: bold;
    transition: 0.3s;
    font-size: 1.3rem;
    &:hover,
    &.active {
      color: var(--main-color) !important;
    }
  }
}
