.big-bannel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  &.crazy-deals {
    background-image: url("../../assets/images/banner/b17.jpg");
  }
  &.spring-summer {
    background-image: url("../../assets/images/banner/b10.jpg");
  }
}
